@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Black.ttf");
  font-family: 'Barlow';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Light.ttf");
  font-family: 'BarlowLight';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Medium.ttf");
  font-family: 'BarlowMedium';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Bold.ttf");
  font-family: 'BarlowBold';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-SemiBold.ttf");
  font-family: 'BarlowSemiBold';
}

.footer {
  display: f;
  background-color: gainsboro;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
  padding: 3em 0;
  max-width: 100%;
  max-width: 96%;
  padding-left: 2%;
  padding-right: 2%;
}

.footer .address,
.footer .media,
.footer form {
  width: 30%;
}

.footer .address p {
  width: 90%;
}

.footer .media img {
  width: 40px;
  height: 40px;
  border-radius: 7px;
}

.footer .media img:nth-of-type(2) {
  margin-left: 1em;
}

.footer form label {
  display: block;
  margin: 1em 0 0.3em;
}

.footer form input {
  width: 94%;
  height: 30px;
  padding: 2px 3%;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  outline: none;
  border: 1px solid #cacaca;
}

.footer form .btn {
  outline: none;
  border: none;
  background-color: #E82129;
  color: #ffffff;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.4em;
  padding: 0.5em 2em;
  cursor: pointer;
  margin-top: 1em;
  width: 100%;
  border-radius: 25px;
}

@media screen and (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer form, .footer .media, .footer .address {
    width: 90%;
    margin: auto;
  }
}

footer {
  background-color: #000000;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding: 1em 0;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  footer {
    font-size: 1em;
  }
}
