@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Black.ttf");
  font-family: 'Barlow';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Light.ttf");
  font-family: 'BarlowLight';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Medium.ttf");
  font-family: 'BarlowMedium';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Bold.ttf");
  font-family: 'BarlowBold';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-SemiBold.ttf");
  font-family: 'BarlowSemiBold';
}

body {
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  min-height: 70px;
  background-color: white;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

header .switcher {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}

header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

header h2 {
  margin: 0;
}

header ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "BarlowSemiBold", Helvetica, Arial, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bolder;
}

header ul li button {
  margin-left: 3em;
  outline: none;
  border: none;
  background-color: #E82129;
  color: #ffffff;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.4em;
  padding: 0.5em 2em;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  color: #E82129;
  border: 1px solid #E82129;
  -webkit-transition: .3s;
  transition: .3s;
}

header ul li button:hover {
  background-color: #E82129;
  color: #ffffff;
}

header a {
  display: block;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: bolder;
  color: #575757;
  font-weight: 200;
  text-transform: capitalize;
}

header a:hover {
  color: #E82129;
  cursor: pointer;
}

main {
  font-family: "Barlow", Helvetica, Arial, Verdana, sans-serif;
  min-height: 80vh;
  background: url("../assets/images/bg1.jpg");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main h1 {
  margin-bottom: 3em;
  font-size: 2.8em;
  text-transform: capitalize;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main button {
  outline: none;
  border: none;
  background-color: #E82129;
  color: #ffffff;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.4em;
  padding: 0.5em 2em;
  cursor: pointer;
  border-radius: 7px;
  margin-top: -1em;
}

@media screen and (max-width: 768px) {
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner, .chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Barlow", Helvetica, Arial, Verdana, sans-serif;
  background-color: #E82129;
  color: #ffffff;
  padding: 3em 0;
}

.banner .card h1, .chat .card h1 {
  font-size: 3.5em;
  margin: 0;
}

.banner .card span, .chat .card span {
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.2em;
}

@media screen and (max-width: 768px) {
  .banner, .chat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container {
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
  width: 100%;
  padding: 7em 0;
}

.container .title {
  width: 60%;
  margin: 0 auto 2em;
}

.container .info {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .info .card {
  width: 30%;
}

.container .info .card h1 {
  text-transform: uppercase;
  font-family: "BarlowSemiBold", Helvetica, Arial, Verdana, sans-serif;
}

.container .info .card span {
  font-size: larger;
}

.ad {
  background: url("../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  font-family: "BarlowSemiBold", Helvetica, Arial, Verdana, sans-serif;
}

.ad .content {
  width: 40%;
  margin-left: auto;
  margin-right: 10em;
}

.ad .content h1 {
  color: #E82129;
  font-size: 2.5em;
}

.ad .content h1 .small {
  color: #ffffff;
  font-size: 0.5em;
}

.ad .content button {
  outline: none;
  border: none;
  background-color: #E82129;
  color: #ffffff;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.4em;
  padding: 0.5em 2em;
  cursor: pointer;
  border-radius: 25px;
  display: block;
  text-transform: capitalize;
  margin-bottom: 2em;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.ad .content button:hover {
  background-color: #ffffff;
  color: #E82129;
}

.network {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../assets/images/bg2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/images/bg2.jpg");
  background-size: cover;
  background-position: center;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 85vh;
  color: #ffffff;
  padding-left: 3em;
  background-attachment: fixed;
}

.network h1 {
  margin-bottom: 0;
}

.network .info {
  font-size: 1.5em;
  font-family: "BarlowSemiBold", Helvetica, Arial, Verdana, sans-serif;
  width: 50%;
}

.network button {
  outline: none;
  border: none;
  background-color: #E82129;
  color: #ffffff;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.4em;
  padding: 0.5em 2em;
  cursor: pointer;
  text-transform: capitalize;
}

.chat {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat h1 {
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  margin-top: 1em;
}

.chat button {
  outline: none;
  border: none;
  background-color: #E82129;
  color: #ffffff;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.4em;
  padding: 0.5em 2em;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-top: 0.4em;
  margin-bottom: 1em;
  -webkit-transition: background 0.2s linear;
  transition: background 0.2s linear;
}

.chat button:hover {
  background-color: grey;
}

@media screen and (max-width: 768px) {
  .chat {
    text-align: center;
  }
}

.images {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

.images .img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 15%;
  margin: 1em 0;
}

@media screen and (max-width: 768px) {
  .images .img {
    -o-object-fit: contain;
       object-fit: contain;
    width: 30%;
    margin: 1em 0;
  }
}

.fa-b {
  border: 1px solid #E82129;
  border-radius: 50%;
  width: 100px;
  height: 75px;
  padding-top: 25px;
}

.red {
  color: #E82129;
}

.yellow {
  color: #ecec7e;
}

@media screen and (max-width: 768px) {
  .top-nav {
    padding: 0 2em;
  }
  header {
    padding: 0.5em 2em;
  }
  .top-nav .hidden-email {
    display: none;
  }
  header .open,
  header .close {
    display: block;
    cursor: pointer;
  }
  .close {
    position: absolute;
    top: 18px;
    right: 1em;
  }
  .switcher:checked ~ nav.main-nav {
    right: 0;
    opacity: 1;
  }
  nav.main-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    opacity: 0;
  }
  nav.main-nav ul {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav.main-nav ul li {
    margin: 0;
  }
  nav.main-nav ul a {
    padding: 20px;
    color: #000;
  }
  nav.main-nav ul a:hover {
    background-color: #fdc800;
    color: #fff;
  }
  .aims .flex,
  .products .flex,
  .topup .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aims .flex .card,
  .products .flex .card,
  .topup .flex .card {
    width: 85%;
    margin: 1em 0;
  }
}
