@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Black.ttf");
  font-family: 'Barlow';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Light.ttf");
  font-family: 'BarlowLight';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Medium.ttf");
  font-family: 'BarlowMedium';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-Bold.ttf");
  font-family: 'BarlowBold';
}

@font-face {
  src: url("../assets/fonts/Barlow/Barlow-SemiBold.ttf");
  font-family: 'BarlowSemiBold';
}

body {
  margin: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  min-height: 70px;
  background-color: white;
  padding: 0 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

header .switcher {
  position: absolute;
  visibility: hidden;
  left: -9999px;
}

header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

header h2 {
  margin: 0;
}

header ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "BarlowSemiBold", Helvetica, Arial, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: bolder;
}

header ul li button {
  margin-left: 3em;
  outline: none;
  border: none;
  background-color: #E82129;
  color: #ffffff;
  font-family: "BarlowLight", Helvetica, Arial, Verdana, sans-serif;
  font-size: 1.4em;
  padding: 0.5em 2em;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  color: #E82129;
  border: 1px solid #E82129;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header ul li button:hover {
  background-color: #E82129;
  color: #ffffff;
}

header a {
  display: block;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: bolder;
  color: #575757;
  font-weight: 200;
  text-transform: capitalize;
}

header a:hover {
  color: #E82129;
  cursor: pointer;
}

main {
  background: url("../assets/images/32.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Barlow", Helvetica, Arial, Verdana, sans-serif;
  padding: 6em 0;
}

main h1 {
  margin: 0;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 768px) {
  main {
    padding: 2em 0;
  }
}

.grey {
  font-family: "BarlowMedium", Helvetica, Arial, Verdana, sans-serif;
  color: gray;
  width: 90%;
  margin: 2em auto;
  font-size: 1.25em;
}

.container {
  font-family: "BarlowSemiBold", Helvetica, Arial, Verdana, sans-serif;
  text-align: center;
}

.container {
  width: 100%;
}

.container .images {
  width: 100%;
  margin-bottom: 4em;
}

.container .images img {
  width: 15%;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .container .images {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
  .container .images img {
    width: 80%;
    margin: 2em auto;
  }
}

@media screen and (max-width: 768px) {
  .top-nav {
    padding: 0 2em;
  }
  header {
    padding: 0.5em 2em;
  }
  .top-nav .hidden-email {
    display: none;
  }
  header .open,
  header .close {
    display: block;
    cursor: pointer;
  }
  .close {
    position: absolute;
    top: 18px;
    right: 1em;
  }
  .switcher:checked ~ nav.main-nav {
    right: 0;
    opacity: 1;
  }
  nav.main-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 0;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    opacity: 0;
  }
  nav.main-nav ul {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav.main-nav ul li {
    margin: 0;
  }
  nav.main-nav ul a {
    padding: 20px;
    color: #000;
  }
  nav.main-nav ul a:hover {
    background-color: #fdc800;
    color: #fff;
  }
}
