@font-face{
    src: url('../assets/fonts/Barlow/Barlow-Black.ttf');
    font-family: 'Barlow';
}

@font-face{
    src: url('../assets/fonts/Barlow/Barlow-Light.ttf');
    font-family: 'BarlowLight';
}

@font-face{
    src: url('../assets/fonts/Barlow/Barlow-Medium.ttf');
    font-family: 'BarlowMedium';
}

@font-face{
    src: url('../assets/fonts/Barlow/Barlow-Bold.ttf');
    font-family: 'BarlowBold';
}

@font-face{
    src: url('../assets/fonts/Barlow/Barlow-SemiBold.ttf');
    font-family: 'BarlowSemiBold';
}

$font: 'Barlow', Helvetica, Arial, Verdana, sans-serif;
$light-font: 'BarlowLight', Helvetica, Arial, Verdana, sans-serif;
$medium-font: 'BarlowMedium', Helvetica, Arial, Verdana, sans-serif;
$bold-font: 'BarlowBold', Helvetica, Arial, Verdana, sans-serif;
$semi-font: 'BarlowSemiBold', Helvetica, Arial, Verdana, sans-serif;

$white: #ffffff;
$black: #000000;
$red: #E82129;