@import "./scss/container";
@import "./scss/utilities";
@import "./scss/variables";

.footer {
  display: f;
  background-color: gainsboro;
  font-family: $light-font;
  justify-content: space-around;
  text-align: left;
  padding: 3em 0;
  max-width: 100%;
  max-width: 96%;
  padding-left: 2%;
  padding-right: 2%;

  .address,
  .media,
  form {
    width: 30%;
  }

  .address {
    p {
      width: 90%;
    }
  }

  .media {
    img {
      width: 40px;
      height: 40px;
      border-radius: 7px;

      &:nth-of-type(2) {
        margin-left: 1em;
      }
    }
  }

  form {
    label {
      display: block;
      margin: 1em 0 0.3em;
    }

    input {
      width: 94%;
      height: 30px;
      padding: 2px 3%;
      font-family: $light-font;
      outline: none;
      border: 1px solid #cacaca;
    }

    .btn {
      @include button;
      margin-top: 1em;
      width: 100%;
      border-radius: 25px;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;

    form, .media, .address{
      width: 90%;
      margin: auto;
    }
  }
}

footer {
  background-color: $black;
  font-family: $light-font;
  font-size: 1.2em;
  text-align: center;
  padding: 1em 0;
  color: $white;

  @media screen and (max-width: 768px) {
    font-size: 1em;
  }
}
