@import "./scss/container";
@import "./scss/utilities";
@import "./scss/variables";

body {
  margin: 0;
}

.flex {
  display: flex;
}

header {
  min-height: 70px;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  .switcher {
    position: absolute;
    visibility: hidden;
    left: -9999px;
  }

  label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  h2 {
    // flex: 1;
    margin: 0;
  }
  ul {
    width: max-content;
    font-family: $semi-font;
    display: flex;
    align-items: center;
    list-style-type: none;
    flex: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;

    li {
      button {
        margin-left: 3em;
        @include button;
        border-radius: 4px;
        background-color: transparent;
        color: $red;
        border: 1px solid $red;
        transition: 0.3s;

        &:hover {
          background-color: $red;
          color: $white;
        }
      }
    }
  }

  a {
    display: block;
    padding: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
    font-weight: bolder;
    color: #575757;
    font-weight: 200;
    text-transform: capitalize;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}

main {
  background: url("../assets/images/29.jpg");
  background-size: cover;
  background-position: center;
  font-family: $font;
  padding: 6em 0;

  h1 {
    margin: 0;
    color: $white;
    text-align: center;
    font-family: $semi-font;
  }

  @media screen and (max-width: 768px) {
    padding: 2em 0;
  }
}

.grey {
  font-family: $medium-font;
  color: gray;
  width: 90%;
  margin: 2em auto;
  font-size: 1.25em;
}

.container {
  width: 90%;
  margin: 2em auto;
  font-family: $light-font;

  h2 {
    text-align: center;
  }

  .info,
  ul li {
    font-size: 1.2em;
  }

  ul {
    list-style-type: square;
    li {
      margin: 1em auto;
    }
  }
}
@media screen and (max-width: 768px) {
  .top-nav {
    padding: 0 2em;
  }

  header {
    padding: 0.5em 2em;
  }

  .top-nav .hidden-email {
    display: none;
  }

  header .open,
  header .close {
    display: block;
    cursor: pointer;
  }
  .close {
    position: absolute;
    top: 18px;
    right: 1em;
  }
  .switcher:checked ~ nav.main-nav {
    right: 0;
    opacity: 1;
  }
  nav.main-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 0;
    transition: all 0.25s;
    opacity: 0;
  }
  nav.main-nav ul {
    padding-inline-start: 0;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }

  nav.main-nav ul li {
    margin: 0;
  }

  nav.main-nav ul a {
    padding: 20px;
    color: #000;
  }
  nav.main-nav ul a:hover {
    background-color: #fdc800;
    color: #fff;
  }
}

