@import "./scss/container";
@import "./scss/utilities";
@import "./scss/variables";

body {
  margin: 0;
}

.flex {
  display: flex;
}

header {
  min-height: 70px;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  .switcher {
    position: absolute;
    visibility: hidden;
    left: -9999px;
  }

  label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  h2 {
    // flex: 1;
    margin: 0;
  }
  ul {
    width: max-content;
    font-family: $semi-font;
    display: flex;
    align-items: center;
    list-style-type: none;
    flex: 1;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;

    li{
      button{
        margin-left: 3em;
        @include button;
        border-radius: 4px;
        background-color: transparent;
        color: $red;
        border: 1px solid $red;
        transition: .3s;

        &:hover{
          background-color: $red;
          color: $white;
        }

      }
    }
  }

  a {
    display: block;
    padding: 0 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
    font-weight: bolder;
    color: #575757;
    font-weight: 200;
    text-transform: capitalize;

    &:hover {
      color: $red;
      cursor: pointer;
    }
  }
}

main {
  font-family: $font;
  min-height: 80vh;
  background: url("../assets/images/bg1.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    //   margin: 0;
    margin-bottom: 3em;
    font-size: 2.8em;
    text-transform: capitalize;
    color: $white;
    user-select: none;
  }

  button {
    @include button;
    border-radius: 7px;
    margin-top: -1em;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $font;
  background-color: $red;
  color: $white;
  padding: 3em 0;

  .card {
    h1 {
      font-size: 3.5em;
      margin: 0;
    }
    span {
      font-family: $light-font;
      font-size: 1.2em;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.container {
  font-family: $light-font;
  text-align: center;
  width: 100%;
  padding: 7em 0;

  .title {
    width: 60%;
    margin: 0 auto 2em;
  }

  .info {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
      h1 {
        text-transform: uppercase;
        font-family: $semi-font;
      }

      span {
        font-size: larger;
      }

      width: 30%;
    }
  }
}

.ad {
  background: url("../assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
  font-family: $semi-font;

  .content {
    width: 40%;
    margin-left: auto;
    margin-right: 10em;

    h1 {
      color: $red;
      font-size: 2.5em;

      .small {
        color: $white;
        font-size: 0.5em;
      }
    }

    button {
      @include button;
      border-radius: 25px;
      display: block;
      text-transform: capitalize;
      margin-bottom: 2em;
      transition: background 0.2s linear;

      &:hover {
        background-color: $white;
        color: $red;
      }
    }
  }
}

.network {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/images/bg2.jpg");
  background-size: cover;
  background-position: center;
  font-family: $light-font;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 85vh;
  color: $white;
  padding-left: 3em;
  background-attachment: fixed;

  h1 {
    margin-bottom: 0;
  }

  .info {
    font-size: 1.5em;
    font-family: $semi-font;
    width: 50%;
  }

  button {
    @include button;
    text-transform: capitalize;
  }
}

.chat {
  @extend .banner;
  flex-direction: column;

  h1 {
    font-family: $light-font;
    margin-top: 1em;
  }

  button {
    @include button;
    border: 1px solid $white;
    border-radius: 5px;
    margin-top: 0.4em;
    margin-bottom: 1em;
    transition: background 0.2s linear;

    &:hover {
      background-color: grey;
    }
  }

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.images {
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;

  .img {
    object-fit: contain;
    width: 15%;
    margin: 1em 0;
  }

  @media screen and (max-width: 768px) {
    .img {
      object-fit: contain;
      width: 30%;
      margin: 1em 0;
    }
  }
}

.fa-b {
  border: 1px solid $red;
  border-radius: 50%;
  width: 100px;
  height: 75px;
  padding-top: 25px;
}

.red {
  color: $red;
}

.yellow {
  color: rgb(236, 236, 126);
}

@media screen and (max-width: 768px) {
  .top-nav {
    padding: 0 2em;
  }

  header {
    padding: 0.5em 2em;
  }

  .top-nav .hidden-email {
    display: none;
  }

  header .open,
  header .close {
    display: block;
    cursor: pointer;
  }
  .close {
    position: absolute;
    top: 18px;
    right: 1em;
  }
  .switcher:checked ~ nav.main-nav {
    right: 0;
    opacity: 1;
  }
  nav.main-nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: white;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 0;
    transition: all 0.25s;
    opacity: 0;
  }
  nav.main-nav ul {
    padding-inline-start: 0;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }

  nav.main-nav ul li {
    margin: 0;
  }

  nav.main-nav ul a {
    padding: 20px;
    color: #000;
  }
  nav.main-nav ul a:hover {
    background-color: #fdc800;
    color: #fff;
  }

  .aims .flex,
  .products .flex,
  .topup .flex {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .aims .flex .card,
  .products .flex .card,
  .topup .flex .card {
    width: 85%;
    margin: 1em 0;
  }
}
