
nav {
    font-family: $light-font;
    display: flex;
    align-items: center;
    padding: 0 2%;
    width: 96%;
    box-shadow: 0 3px 4px rgba($color: #000000, $alpha: 0.2);
    background-color: $white;
    position: sticky;
    bottom: 0;
  
    h2 {
      margin: 0;
    }
  
    h2,
    .btn {
      flex: 1;
    }
  
    ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      flex-grow: 2;
      align-items: center;
      justify-content: space-around;
      font-weight: bolder;
  
      @media screen and (max-width: 768px){
        display: none;
      }
      li{
        &:hover{
          color: $red;
          cursor: pointer;
        }
      }
    }
  
    .btn {
      text-align: center;
  
      button {
        outline: none;
        border: 1px solid $red;
        border-radius: 5px;
        font-size: large;
        padding: 0.7em 2.7em;
        color: $red;
        background-color: transparent;
        cursor: pointer;
        transition: .25s;
  
        &:hover {
          background-color: $red;
          color: $white;
        }
      }
    }
  }